.nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	box-sizing: border-box;
	background-color: #F6F6F7;
	padding: 20px 50px;
	border-top: 1px solid rgba(150,150,150,0.3);
}
.nav__list {
	display: flex;
	justify-content: space-between;
}
.nav__link {
	color: #2e363e;
	position: relative;
}
.nav__notification2 {
	background-color: tomato;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: absolute;
	right: -5px;
	top: -15px;
}

@keyframes notificationAni {
	0% {
		transform: none;
	}
	50% {
		transform: translateY(-5px) rotateY(360deg);
	}
	100% {
		transform: none;
	}
}
.nav__notification {
	position: absolute;
	right: -5px;
	top: -15px;
	animation: notificationAni 2s ease-in-out infinite;
}

@keyframes appearBtnAni {
	form {
		transform: translateY(80px);
	}
	to {
		transform: none;
	}
}

.nav__btn {
	animation: appearBtnAni 1s ease-in-out;
}